{% extends 'base.html.twig' %}
 {% block body %}
  <h1>Adding a new statistic</h1>

  {{ form_start(form) }}

  {{ form_row(form.url) }}
  {{ form_row(form.text) }}
  {{ form_row(form.file) }}
  <button type="submit">Submit</button>
  {{ form_end(form) }}


 {% endblock %}
